{% extends "base.html" %}

{% block daily_quote %}
{% block home %}
{% endblock home %}

<div id="profile_container" {% block profile_active %}{% endblock %}>
    {% block user_profile %}
    {% endblock user_profile %}

    <div id="quotes">
        <article>
            <h3>Kwoat of the Day</h3>
            <div id="quote_container">
                <blockquote id="quote_string">{{ quote.text }}</blockquote>
                <div id="author">&mdash; {{ quote.author }}</div>
            </div>

            {% block rank_buttons %}
                <div id="buttons" class="rank">
                    <button id="like"
                        {% if rank != 0 %} disabled {% endif %}
                        {% if rank == 1 %} class="selected" {% endif %}
                    ></button>
                    <button id="dislike"
                        {% if rank != 0 %} disabled {% endif %}
                        {% if rank == -1 %} class="selected" {% endif %}
                    ></button>
                </div>
            {% endblock rank_buttons %}
        </article>

        {% block feed %}
        {% endblock feed %}
    </div>
</div>

{% endblock daily_quote %}
