<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'daily_quote/main.css' %}">
    <script type="text/javascript" src="{% static 'daily_quote/main.js' %}"></script>
    <title>Daily Quote</title>
</head>
<body>
<h1>Quote of the Day</h1>
<main>
    <div id="quote_container">
        <blockquote id="quote_string">{{ quote.text }}</blockquote>
        <div id="author">&mdash; {{ quote.author }}</div>
    </div>

    {% if my_profile %}
    <div id="buttons" class="rank">
        <button id="like"
                {% if rank != 0 %} disabled {% endif %}
                {% if rank == 1 %} class="selected" {% endif %}
        ></button>
        <button id="dislike"
                {% if rank != 0 %} disabled {% endif %}
                {% if rank == -1 %} class="selected" {% endif %}
        ></button>
    </div>
    {% endif %}
</main>
</body>
</html>