<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'daily_quote/main.css' %}">
    <title>Daily Quote</title>
</head>
<body>
<h1>Quote of the Day</h1>
<main>
    <div id="quote_container">
        <blockquote>{{ quote.text }}</blockquote>
        <div id="author">&mdash; {{ quote.author }}</div>
    </div>
    <div class="rank">
        <button id="like">+</button>
        <button id="dislike">-</button>
    </div>
</main>
</body>
</html>