{% extends "daily_quote/profile.html" %}

{% block edit_button %}
    <a href="{% url 'profile' profile.user.username %}?editing=True">Edit</a>
{% endblock %}

{% block profile_info %}
<div id="profile-user">
    <p><span>Username</span><span>{{ profile.user.username }}</span></p>
    <p><span>Email</span><span>{{ profile.user.email }}</span></p>
    <p>
        <span>First name</span>
        {% if profile.first_name %} <span>{{ profile.first_name }}</span>
        {% else %} <a href="{% url 'profile' profile.user.username %}?editing=True">Add your first name!</a>
        {% endif %}
    </p>
    <p>
        <span>Last name</span>
        {% if profile.last_name %} <span>{{ profile.last_name }}</span>
        {% else %} <a href="{% url 'profile' profile.user.username %}?editing=True">Add your last name!</a>
        {% endif %}
    </p>
    <p>
        <span>Location</span>
        {% if profile.location %} <span>{{ profile.location }}</span>
        {% else %} <a href="{% url 'profile' profile.user.username %}?editing=True">Add your location!</a>
        {% endif %}
    </p>
    <p>
        <span>Birth date</span>
        {% if profile.birth_date %} <span>{{ profile.birth_date }}</span>
        {% else %} <a href="{% url 'profile' profile.user.username %}?editing=True">Add your birth date!</a>
        {% endif %}
    </p>
    <p>
        <span>Bio</span>
        {% if profile.bio %} <span>{{ profile.bio }}</span>
        {% else %} <a href="{% url 'profile' profile.user.username %}?editing=True">Tell us about yourself!</a>
        {% endif %}
    </p>
</div>
{% endblock profile_info %}