{% extends "daily_quote/base_daily_quote.html" %}

{% block profile_active %}
    class="active"
{% endblock profile_active%}

{% block user_profile %}
    <aside id="profile">
        <div id="profile-header">
            <h3>{{ profile.user.username }}</h3>
            {% block edit_button %}{% endblock %}
        </div>
        {% block profile_info %}
            {{ user_edit_form.as_p }}
            {{ profile_edit_form.as_p }}
        {% endblock profile_info %}
    </aside>
{% endblock user_profile %}

{% block feed %}
    <div id="feed">
        <ul>
        {% for feed_quote in quotes %}
            <li>{{ feed_quote }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock feed %}
