body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: antiquewhite;
}

h1 {
    align-self: flex-start;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 3em;
    color: saddlebrown;
    padding-bottom: 10px;
    width: 33vw;
    border-bottom: 4px solid saddlebrown;
}

main {
    margin: auto 0;
}

#quote_container {
    max-width: 65vw;
    color: darkslategrey;
    background-color: powderblue;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
}

#quote_container blockquote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 0;
    font-size: 1.8em;
}

#quote_container #author {
    padding: 10px 20px;
    font-size: 1.3em;
    color: aliceblue;
    background-color: steelblue;
}

.rank {
    min-width: 400px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rank button {
    width: 110px;
    height: 110px;
    color: ghostwhite;
    font-size: 3em;
    border: 5px solid ghostwhite;
    border-radius: 50%;
}

.rank #like {
    background-color: seagreen;
}

.rank #dislike {
    background-color: firebrick;
}

