body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  color: $theme-color;
  background-color: $bg-color;
}

h3 {
  align-self: flex-start;
  margin-top: 100px;
  margin-left: 50px;
  font-size: 3em;
  font-family: 'Railway', cursive;
  padding-bottom: 25px;
  width: 40vw;
  border-bottom: 5px double #1b3249;
}

article {
  margin: auto 0;
}