.rank {
  min-width: 400px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  button {
    width: 110px;
    height: 110px;
    background-color: $accent-color;
    font-size: 3em;
    border-radius: 50%;

    &#like {
      @include rank-button('like', $btn-like-color);
    }

    &#dislike {
      @include rank-button('dislike', $btn-dislike-color);
    }

    &:disabled {
      background-color: $accent-color;
    }
  }
}