$bg-color: whitesmoke;
$accent-color: ghostwhite;

$theme-color: #1b3249;
$theme-color-highlight: steelblue;

$btn-like-color: forestgreen;
$btn-dislike-color: #cc1111;

$font-stack: 'Playfair Display', cursive;