$bg-color: ghostwhite;
$accent-color: whitesmoke;

$theme-color-main: #206f38;
$theme-color-accent: #6a0060;

$btn-like-color: forestgreen;
$btn-dislike-color: #cc1111;

$font-color: #1b3249;
$font-stack: 'Playfair Display', cursive;