$bg-color: #E2E2E2;
$accent-color: whitesmoke;
//

$theme-color-white: #E2E2E2;
$theme-color-grey: #6E7271;
$theme-color-light: #6B8F71;
$theme-color-main: #206f38;
$theme-color-accent: #575D90;
$alt-color: #b1007a;

$btn-like-color: forestgreen;
$btn-dislike-color: #cc1111;

$font-color: #1b3249;
$font-stack: 'Playfair Display', cursive;